<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Add New Employee</h4>
                        <p class="card-category">Complete the following form to add a new employee</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-2">
                                    Employee ID: {{this.employeeId}}
                                </div>
                            </div>
                            <h3>Personal Information</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Surname" formControlName="surname" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Other Names" formControlName="otherName" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="National ID" formControlName="idNumber" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Gender</mat-label>
                                        <mat-select formControlName="gender">
                                            <mat-option *ngFor="let gender of this.genders" [value]="gender.id">{{gender.genderName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Date of Birth</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <h3>Contact</h3>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" formControlName="email" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Phone Number" formControlName="contact" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <h3>Place of Residence</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Address" formControlName="address" type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <h3>Next of Kin</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Name" formControlName="nokName" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Contact" formControlName="nokContact" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Relationship</mat-label>
                                        <mat-select formControlName="nokRelationship">
                                            <mat-option *ngFor="let relationship of this.relationships" [value]="relationship.relationshipId">{{relationship.relationshipName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <h3>Employment Details</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Employee Type</mat-label>
                                        <mat-select formControlName="employeeType">
                                            <mat-option *ngFor="let employeeType of this.employeeTypes" [value]="employeeType.employmentTypeId">{{employeeType.employmentType}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Designation</mat-label>
                                        <mat-select formControlName="designationId">
                                            <mat-option *ngFor="let disignation of this.designations" [value]="disignation.designationId">{{disignation.type}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Starting Date</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="startDate">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  