<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">-->
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">{{title}}</h4>
                        <p class="card-category">{{description}}</p>
                    </div>
                    <div class="card-body">
                        <form>
                          <div class="row">
                              <div class="col-md-3">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Patient</mat-label>
                                        <mat-select>
                                          <mat-option value="one">1 - 3212399 - Test Patient</mat-option>
                                          <mat-option value="two">2 - 4523432 - Test Patient</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                              </div>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="First Name" type="text" disabled>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Middle Name" type="text" disabled>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Last Name" type="text" disabled>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Appointment Type</mat-label>
                                        <mat-select>
                                          <mat-option value="one">Checkup</mat-option>
                                          <mat-option value="two">Dental</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field appearance="fill">
                                    <mat-label>Date of Appointment</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Remarks" type="text" disabled> 
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">                                    
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Payment Method</mat-label>
                                        <mat-select>
                                          <mat-option value="one">Upfront</mat-option>
                                          <mat-option value="two">Accumulative</mat-option>
                                          <mat-option value="two">Insurance</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{button}}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
           <!-- </div>
        </div>
    </div>
  </div> -->
  