<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">-->
                <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                    <mat-icon class="close-icon" color="warn">close</mat-icon>
                </button>
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">{{title}}</h4>
                        <p class="card-category">{{description}}</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                          <div class="row">
                              <div class="col-md-2">
                                  <mat-form-field appearance="fill" class="example-full-width">
                                      <mat-label>Patient No</mat-label>
                                      <input matInput placeholder="Patien No" type="text" formControlName="patientId" readonly>
                                  </mat-form-field>
                              </div>
                                <div class="col-md-6">
                                  <mat-form-field appearance="fill" class="example-full-width">
                                      <mat-label>Patient Name</mat-label>
                                    <input matInput placeholder="Patient Name" type="text" formControlName="patientName" readonly>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Appointment Type</mat-label>
                                        <mat-select formControlName="appointmentType">
                                            <mat-option *ngFor="let appointentType of this.appointmentTypes" [value]="appointentType.typeId">{{appointentType.type}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field>
                                    <mat-label>Date of Appointment</mat-label>
                                    <input matInput [matDatepicker]="dateOfAppointment" formControlName="dateOfAppointment">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="dateOfAppointment"></mat-datepicker-toggle>
                                    <mat-datepicker #dateOfAppointment></mat-datepicker>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Remarks" type="text" formControlName="remarks"> 
                                  </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{button}}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
           <!-- </div>
        </div>
    </div>
  </div> -->
  